<form action="/users/<%= params[:user_id] %>/questions" method="post">
  <fieldset>
    <legend>Your question here</legend>
    Content: <textarea class="form-control" name="question[body]" placeholder="140 characters or fewer"></textarea><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>


# for partial use.
