<form action="/questions" method="post">
  <fieldset>
    <legend>Your question here</legend>
    Title: <input type="text" class="form-control" name="question[title]" placeholder="Your title here"><br>
    Content: <textarea class="form-control" name="question[text]" placeholder="Your question here"></textarea><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>

