<form action="/users" method="post">
  <fieldset>
    <legend>Please Provide the Following Info</legend>
    Username:<br>
    <input type="text" name="user_info[username]" placeholde="James"><br>
    Email:<br>
    <input type="text" name="user_info[email]" placeholder="James@aol.com"><br>
    Password:<br>
    <input type="password" name="user_info[password]" ><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
