<div align="center">
  <h1>Stack Overfloweth</h1>

<div>
  <% @questions.each do |question| %>
    <div>
      <h3><%=question.title%><a href="#"><%= question.id%></a></h3>
    </div>
  <% end %>
</div>


</div>
